audio{
    width: 100%;
}
audio::-webkit-media-controls-enclosure {
    background-color: rgba(255, 255, 255, 0.4);
}
audio::-webkit-media-controls-play-button{
    background-color: white;
    border-radius: 50%;
}




